[Unit]
Description=The Greenroom API Service
After=network-online.target tgr.redis.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/tgr/api
EnvironmentFile=/home/pi/tgr/etc/tgr.conf
ExecStart=/usr/bin/python -u /home/pi/tgr/api/api.py
SyslogIdentifier=tgr-api

[Install]
WantedBy=multi-user.target

