[Unit]
Description=The Greenroom API service
Requires=containerd.service docker.service
After=containerd.service docker.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/docker start -a tgr.api
ExecStop=-/usr/bin/docker stop -t 2 tgr.api
SyslogIdentifier=tgr-api

[Install]
WantedBy=multi-user.target

