[Unit]
Description=The Greenroom device automation service
After=tgr.redis.service tgr.sensor.module.service tgr.udp.msg.service

[Service]
Type=simple
Restart=always
EnvironmentFile=/home/pi/tgr/etc/tgr.conf
ExecStart=/usr/bin/python -u /home/pi/tgr/sbin/svc-device-automation.py
SyslogIdentifier=tgr-device-automation

[Install]
WantedBy=multi-user.target

